In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('dataset/train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
columns_target = ['Survived']

columns_train = ['Age','Pclass','Sex','Fare']
x=data[columns_train]
y=data[columns_target]

### now ... clean the data i.e in columns_train

In [8]:
x['Sex'].isnull().sum()

0

In [7]:
x['Pclass'].isnull().sum()

0

In [10]:
x['Fare'].isnull().sum()

0

In [13]:
x['Age'].isnull().sum()

0

### found nan values in Age col. So Fix it.

In [12]:
x['Age']=x['Age'].fillna(x['Age'].median())

C:\Users\sazas\Anaconda3\envs\python_latest\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### now Sex Col. has Female and Male --> convert it to numerics 1 & 0
#### initialize a dictionary

In [16]:
d = {'male' : 0, 'female' : 1}
x['Sex'] = x['Sex'].apply(lambda x:d[x])
x['Sex'].head()

C:\Users\sazas\Anaconda3\envs\python_latest\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [17]:
x.head()

    Age  Pclass  Sex     Fare
0  22.0       3    0   7.2500
1  38.0       1    1  71.2833
2  26.0       3    1   7.9250
3  35.0       1    1  53.1000
4  35.0       3    0   8.0500

### Cleaning Part is done... now split dataset to train and test

In [18]:
from sklearn.model_selection import train_test_split

#### Every time we take different set for train and test, we get different accuracy. Tried many times (25 in my case) and the best I could get was 79.45%

In [49]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=42)

In [21]:
from sklearn import svm

### Used linear SVC

In [50]:
clf = svm.LinearSVC()
# training the model
clf.fit(x_train,y_train)
print(clf)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

C:\Users\sazas\Anaconda3\envs\python_latest\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [23]:
print(clf.predict(x_test[0:10]))

[0 0 0 1 1 1 1 0 1 1]

#### lets check the accuracy of this model

In [51]:
print (clf.score(x_test,y_test))

0.7947761194029851

# PS: I have not yet watched the titanic